.header__lang-links{
    list-style: none;
    margin: 0;
    padding: 14px 0 0;
    display: flex;
    justify-content: space-between;
    width: 78px;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .header__lang-links{
        justify-content: flex-end;
        column-gap: 18px;
    }
}
